.contact {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  font-size: 15px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 5px;
  padding-left: 20px;
}

.contact:last-child {
  margin-bottom: 30px;
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  width: 80px;
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  font-size: 18px;
  font-family: roboto;
  font-weight: 300;
  line-height: 1.1em;
  transition: all 0.2s ease;
}

.delete-button:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  transition: all 0.2s ease;
}
