/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
} */

/* body {
  background: linear-gradient(#8ca6db, #b993d6);
} */
